
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* img{
  border-radius: 50%;
  border: 5px solid white;
  width: 200;
  height: 300;
  margin: 40px auto 0px auto;
  display: block;
  background-color: gray;
} */

.nav-img {
  border-radius: 50%;
  border: 5px solid white;
  margin-bottom: 40px;
  margin-top: 40px;
  width: 70%;
  height: 40%;
  
}

/* .body {
  font-family:Helvetica Neue, Arial, sans-serif, "Times New Roman";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  background-position: center;
  float: left;
  z-index: 100;
  border: 3px;
  border-radius: 5px;
} */

.side-nav {
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background-color: rgb(71, 141, 141);
  font-size:  medium;
  position: fixed;
  z-index: 1;
  text-align: center;
}

.section {
  height: 90vh;


}

.menu {
  color: black;
  font-size: medium;
}

/* .fa {
  color: rgb(51, 17, 34);
  text-decoration: none;
  background-color: transparent;
} */

.fa-facebook {
  color: black;
  align-items: right;
  size: 20px;
}

.fa-twitter {
  color: black;
}

.fa-linkedin {
  color: black;
}

.fa-github {
  color: black;
}

a:visited {
  color: white;
}

a:hover {
  color: deeppink;
}

a:active {
  color: red;
}

a:link, a:visited {
  padding: 10px 20px;
  text-align: center;
  display: block;
}

.main {
  padding: 130px 220px;
  margin-left: 160px;

  /* background-color: white;
  float: left;
  color: black;
  text-align: center;
  margin-left: 280px;
  width: 1000px;
  height: auto;
  padding: 25px; */
}

.name {
  color: chocolate;
  font-weight: 800;
  font-family: Verdana, "Times New Roman", Tahoma, sans-serif;
}

#date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

